@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Playfair+Display:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.navigation {
  color: white;
  background: #302135;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.menu-nav {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
  padding: 0.2rem;
}

.menuItem {
  padding: 1rem;
  font-size: 15px;
  border: none;
}
.menuItem:hover {
  color: gold;
  cursor: pointer;
}

.about {
  padding: 1rem;
  font-size: 15px;
  border: none;
}
.about:hover {
  cursor: pointer;
  color: gold;
}

.services {
  font-size: 15px;
  border: none;
}
.services:hover {
  cursor: pointer;
  color: gold;
}

.contact {
  padding: 1rem;
  font-size: 15px;
  border: none;
  background: #302135;
  color: white;
}

.contact:hover {
  cursor: pointer;
  color: gold;
}

.menu-nav button {
  border-radius: 2px;
  border: none;
}

.menu-nav button:hover {
  cursor: pointer;
}

.div-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.div-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.content {
  min-height: 100vh;
}

.presentation {
  width: 100%;
  height: 93vh;
  background-image: url("./imgs/hotel.jpg");
  background-size: auto;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.presentation h1 {
  animation: enter 2s;
  font-family: "Lobster", serif;
  font-weight: 400;
  color: #4e3357;
  opacity: 100%;
  margin-bottom: 0.1rem;
  font-size: 2.5rem;
  text-shadow: 0.1rem 0.2rem 1px rgba(0, 0, 0, 0.4);
}

.presentation h2 {
  animation: enter 2s;
  font-family: "lobster", serif;
  font-weight: 400;
  color: #4e3357;
  margin-bottom: 1rem;
  font-size: 2.1rem;
  text-shadow: 0.1rem 0.2rem 1px rgba(0, 0, 0, 0.4);
}

.mainTitle {
  max-width: 500px;
  margin: 0;
  text-align: center;
}

.room {
  padding: 1.3rem 2rem;
  border-radius: 100rem;
  background-color: #4e3357;
  color: white;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  border: none;
  animation: enterButton 3s;
  text-transform: uppercase;
  opacity: 0.9;
}

.room:hover {
  cursor: pointer;
  color: gold;
}

.logo-img {
  display: flex;
  height: 50px;
}

.logo-img:hover {
  cursor: pointer;
}

@keyframes enterButton {
  0% {
    transform: translateY(25rem) rotateY(-35deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 0.9;
  }
}

@keyframes enter {
  0% {
    transform: translateX(25rem) rotateX(-35deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotateX(0);
    opacity: 100%;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
